<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat einen Link zu ändern Sie Ihres Kennworts angefordert wird, und Sie können dies über den Link unten tun.</p>

<p><%= link_to 'Mein Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Ignorieren Sie diese E-Mail, wenn Sie dies nicht angefordert haben.</p>
<p>Ihr Passwort wird sich nicht ändern, bis Sie auf den Link zugreifen und ein Neues erstellen.</p>
